
body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff1b02+0,ff5047+45,6267ea+73 */
	background: #ff1b02; /* Old browsers */
background: -moz-linear-gradient(left, #ff1b02 0%, #ff5047 45%, #6267ea 73%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ff1b02 0%,#ff5047 45%,#6267ea 73%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ff1b02 0%,#ff5047 45%,#6267ea 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1b02', endColorstr='#6267ea',GradientType=1 ); /* IE6-9 */

	color: antiquewhite;
	font-family: 'Droid Serif', serif;
	-webkit-font-smoothing: antialiased;
}


/* body {
	background-color: #e01010;
} */

.main-nav {
	opacity: .8;
	display: block;
	float: right;
}

h1 {
	text-align: center;
	font-size: 8rem;
	background-image: url('http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/2hqxzyo.gif');
	max-width: 800px;
    margin: auto;

}

h2{
	text-align: center;
	font-size: 4.5rem;
	text-shadow: lightgoldenrodyellow 0 0 10px;
	color: #FDD017;
}

#nicknameexplain {
	text-align: center;
	font-size: 2.5rem;
	font-weight: bolder;
}

#explain {
	text-align: center;
	font-weight: bold;
}


h3 {
	color: #FDD017;
	font-size: 3rem;
	z-index: 10; 
	text-shadow: 2px 1px darkgray;
  }
 

.athletes{
	text-align: center;
}


article {
	float: left;
}


li {
	background-color: darkgray;
	text-decoration: none;
	list-style: none;
	float: left;
	border: 2px solid antiquewhite;
}

li a {
	display: block;
	color: antiquewhite;
	text-align: center;
	padding: 10px 10px;
	background-image: url('http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/2hqxzyo.gif');
}
a {
	color: antiquewhite;
	font-weight: bold;
}
a:hover {
	color: #FDD017;
}

img {
	border: 10px solid darkblue;
	margin: 15px auto 25px auto;
	
}

img:hover {
	transform: translateY(20px) scale(1.2,1.2);
	transition: all .5s ease-in-out;
	box-shadow: 5px 5px 0px #FDD017;
	z-index: 5;
}

.bioparagraph {
	display: none;
	margin-top: 50px;
}


/* MAKE IMAGES ALL THE SAME SIZE BEFORE DOING ANYTHING ELSE */